<div class="container-fluid" style="background-image: url('assets/img/d.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="row">
        <div class="col-md-12 pt-5 pb-5 text-center">
            <br>
            <h3 style="font-family: google-sans;color: #1a73e8;" class="animated fadeInUp">{{regJson.eventInfo.eventName}}</h3>
            <p style="font-family: google-sans" class="mt-3 animated fadeInUp"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> &nbsp; {{regJson.eventInfo.eventDate}}</p>
            <p style="font-family: google-sans" class="animated fadeInUp"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; {{regJson.eventInfo.eventVenue}}</p>


            <p>Questions? Please contact <a href="mailto:{{regJson.chapterEmail}}"><span style="color: #1a73e8;">{{regJson.chapterEmail}}</span></a></p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-8 offset-md-2">
            <!-- Add Google Map Embed link under src tab -->
            <iframe class="z-depth-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.9732943633076!2d-8.60992288415465!3d41.178749679283875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246449b419e1c1%3A0x16a6fd2fcace4efe!2sISEP+-+Instituto+Superior+de+Engenharia+do+Porto!5e0!3m2!1sen!2suk!4v1539641226472" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
