<div class="container-fluid">
    <div class="row p-2">
        <div class="col-md-8 offset-md-2 pt-2 pb-2">
            <br>
            <h3 class="animated fadeInUp" style="font-family: google-sans;color: #1a73e8;">The most phenomenal experts
                with the know-how and the skills</h3>
            <br>
            <p class="animated fadeInUp" style="font-family: google-sans">Hear from the speakers who shape the future of
                Android, Web and Cloud technologies. Check back often as we add more speakers all the time.</p>

            <br>
        </div>
    </div>

</div>


<div class="container-fluid"
     style="background-image: url('../assets/img/a.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="row mt-2 mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="container-fluid">
                        <div class="row animated fadeInUp">
                            <div class="col-md-3 col-6 text-center mt-4" ng-repeat="sp in speakersData">
                                <a style=" color:inherit;text-decoration: none;" href="{{sp.socialNetwork}}" target="_blank">
                                    <img src="{{sp.profileImg}}" alt="Speaker Image" class="rounded-circle" width="60%">
                                    <br><br>
                                    <h5 class="h5-responsive" style="font-family: google-sans;color: #1a73e8;">
                                        {{sp.name}}</h5>
                                    <h5 class="h5-responsive" style="font-family: google-sans;font-size: 90%;">
                                        {{sp.company}}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
